# java -jar eureka-server-0.0.1-SNAPSHOT --spring.profiles.active=peer1
# java -jar eureka-server-0.0.1-SNAPSHOT --spring.profiles.active=peer2

---
spring: 
   profiles: peer1
server:
   port: 8761
eureka:
   instance:
      hostname: peer1
   client:
      serviceUrl:
         defaultZone: http://peer2:8762/eureka/
         
---
spring: 
   profiles: peer2
server:
   port: 8762
eureka:
   instance:
      hostname: peer2
   client:
      serviceUrl:
         defaultZone: http://peer1:8761/eureka/