<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <!-- 
	<bean id="zkwatcher" class="zh.maven.DynamicConf.ZKWatcher">
		<property name="keyPatterns" value="/a2,/a3/m1" />
	</bean>

	<bean id="propertyConfigurer" class="zh.maven.DynamicConf.ZKPropPlaceholderConfigurer">
		<property name="zkwatcher" ref="zkwatcher"></property>
	</bean>
	 --> 
	 
    <!-- 	 <bean id="mqwatcher" class="zh.maven.DynamicConf.mq.MQWatcher">
		<property name="keyPatterns" value="/a2,/a3" />
	</bean>

	<bean id="propertyConfigurer" class="zh.maven.DynamicConf.mq.MQPropPlaceholderConfigurer">
		<property name="mqwatcher" ref="mqwatcher"></property>
	</bean> -->
	
	<bean id="rediswatcher" class="zh.maven.DynamicConf.redis.RedisWatcher">
		<property name="keyPatterns" value="/a2,/a3" />
	</bean>

	<bean id="propertyConfigurer" class="zh.maven.DynamicConf.redis.RedisPropPlaceholderConfigurer">
		<property name="rediswatcher" ref="rediswatcher"></property>
	</bean>
	 
	<bean id="person" class="zh.maven.DynamicConf.Person">
		<property name="name">
			<value>${/a2/m1}</value>
		</property>
		<property name="address">
			<value>${/a3/m1/v2}</value>
		</property>
		<property name="company">
			<value>${/a3/m1/v2/t2}</value>
		</property>
	</bean>
	 
</beans>
