<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1.属性（properties） -->
	<properties resource="config.properties">
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- 启用默认值特性 -->
		<property
			name="org.apache.ibatis.parsing.PropertyParser.enable-default-value"
			value="true" />
	</properties>
	<!-- 2.settings（设置） -->
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="autoMappingUnknownColumnBehavior" value="WARNING" />
		<!-- 执行器类型:SIMPLE,REUSE.BATCH -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="defaultFetchSize" value="100" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<!-- 是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 
			的类似映射。 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />

		<!-- 是否使用真实的参数名称 -->
		<setting name="useActualParamName" value="false" />
	</settings>
	<!-- 3.类型别名（typeAliases） -->
	<typeAliases>
		<typeAlias type="com.mybatis.vo.Blog" alias="blog" />
		<typeAlias type="com.mybatis.vo.BlogEnum" alias="blogEnum" />
	</typeAliases>

	<!-- 4.类型处理器（typeHandlers） -->
	<typeHandlers>
		<typeHandler javaType="string" jdbcType="VARCHAR" handler="com.mybatis.myTypeHandler.MyStringTypeHandler" />
		<typeHandler javaType="string" handler="com.mybatis.myTypeHandler.MyStringTypeHandler" />
		<!-- <typeHandler javaType="string" handler="com.mybatis.myTypeHandler.MyStringTypeHandler" /> -->
		<typeHandler javaType="com.mybatis.vo.AuthorEnum" handler="org.apache.ibatis.type.EnumTypeHandler" />
	</typeHandlers>
	<!-- 5.自定义对象工厂 -->
	<objectFactory type="com.mybatis.myObjectFactory.MyObjectFactory">
		<property name="name" value="MyObjectFactory" />
	</objectFactory>

	<!-- 6.配置环境 default缺省情况下使用哪个数据源配置 -->
	<environments default="development">
		<environment id="development">
			<!-- 数据库事务 -->
			<transactionManager type="JDBC" />
			<!-- 数据源连接 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis" />
				<!-- 如果属性 'username' 没有被配置，'username' 属性的值将为 'root' -->
				<property name="username" value="${username:root}" />
				<!-- <property name="username" value="root" /> -->
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<!-- 7.引入映射器 -->
	<mappers>
		<mapper resource="mapper/BlogMapper.xml" />
		<mapper resource="mapper/BlogParentMapper.xml" />
	</mappers>
</configuration>